In [2]:
import sys
import os
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)
from config import *
import pandas as pd
pd.options.display.max_columns = None
import numpy as np

In [3]:
data = pd.read_csv(os.path.join(DATA_RAW_DIR, 'Melbourne_housing_FULL.csv'))
less = pd.read_csv(os.path.join(DATA_RAW_DIR, 'MELBOURNE_HOUSE_PRICES_LESS.csv'))

In [5]:
data.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

engine = create_engine('postgresql://intro:data123@localhost:5433/bdintrods')
data.to_sql('melbourne', con=engine, index=False, if_exists='replace', chunksize=1000, method='multi')
print("✅ Tabla creada exitosamente en PostgreSQL.")

✅ Tabla creada exitosamente en PostgreSQL.

In [6]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

engine = create_engine('postgresql://intro:data123@localhost:5433/bdintrods')
less.to_sql('melbourne_price_less', con=engine, index=False, if_exists='replace', chunksize=1000, method='multi')
print("✅ Tabla creada exitosamente en PostgreSQL.")

✅ Tabla creada exitosamente en PostgreSQL.